@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: var(--light-blue);
	--color-secondary: var(--cadet-gray);
	--color-tertiary: var(--paynes-gray);
	--color-quaternary: var(--beige);
	--color-quinary: var(--bittersweet);

	/* Current Colours  */
	--light-blue: #b8d8d8;
	--cadet-gray: #7a9e9f;
	--paynes-gray: #4f6367;
	--beige: #eef5db;
	--bittersweet: #fe5f55;
}
