@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: var(--deluge-500);
	--color-secondary: var(--carnation-500);
	--color-tertiary: var(--turquoise-500);

	--carnation-500: #fc6471;
	--deluge-500: #7d5ba6;
	--turquoise-500: ##acfcd9;
}
