@keyframes lava {
	0% {
		background-color: var(--color-primary);
		left: 0px;
	}
	10% {
		background-color: var(--color-secondary);
		left: 10%;
	}
	20% {
		background-color: var(--color-primary);
		left: 15%;
	}
	40% {
		background-color: var(--color-secondary);
		left: 40%;
	}
	50% {
		background-color: var(--color-primary);
		left: 60%;
	}
	100% {
		background-color: var(--color-quinary);
		left: 100%;
	}
}

.blob1 {
	position: absolute;
	width: 100rem;
	height: 84rem;
	border-radius: 9999px;
	animation-name: lava;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}
.blob2 {
	position: absolute;
	width: 100rem;
	height: 84rem;
	border-radius: 9999px;
	animation-name: lava;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
.blob3 {
	position: absolute;
	width: 100rem;
	height: 84rem;
	border-radius: 9999px;
	animation-name: lava;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
}
